<p class="copyright">
    @Document.GetString(WebKeys.Copyright)
    <span class="mx-2">|</span>
    <a href='@Context.GetLink("/privacy")'>개인정보처리방침</a>
    <span class="mx-2">|</span>
    <a href='@Context.GetLink("/coc")'>커뮤니티행동강령</a>
</p>
