#links {
  ul {
    @extend .col-lg-5;
    @extend .px-4;

    li {
        @extend .card;
        @extend .text-center;
        @extend .rounded;
        @extend .mb-3;
        @extend .shadow-sm;

        border: 0;

        img {
          @extend .rounded-top;
        }
    }
  }

  hr {
    @extend .border;
    @extend .border-1;

    border-color: $cyan-700 !important;
  }

  hr + ul {
    @extend .text-center;

    li {
      @extend .d-inline;
      @extend .rounded-0;
      @extend .shadow-none;
    
      border: 0;

      img {
        @extend .rounded-0;
      }
    }
  }
}